<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

      <button type="button" id="sidebarCollapse" class="navbar-btn">
          <span></span>
          <span></span>
          <span></span>
      </button>
      <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
             
              <div class="btn-group">
                <button type="button" class="btn btn-secondary" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-user"></i> Account
                </button>
                <div class="dropdown-menu dropdown-menu-lg-right">
                    {% if current_user.username %}
                  {% if Is_admin %}
                  <button class="dropdown-item" type="button"><a href="/setting/add_user">Admin Settings</a></button>
                  {% else %}
                  <button class="dropdown-item"  type="button"><a href="/setting/change_password">Settings</a></button>
                  {% endif %}
                  <button class="dropdown-item"  type="button"><a href="/logout">Log Out</a></button>
                  {% else %}
                  <button class="dropdown-item" type="button"><a href="/login">Log In</a></button>
                  {% endif %}
                </div>
              </div>


          </ul>
      </div>
  </div>
</nav>