{% extends "base_site.html" %}

{% block title %} Welcome {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

{% include "tiles.html" %}

<br>        
<div class="row-auto text-center">
  <h1>Pandalike <b> Investing</b> </h1>
</div>

<div class="row-auto text-center">
  <div class="text-muted"> Tools about Investing and Saving Money  </div>
</div>
  
<div class="container">
  <br>

  <legend class="border-bottom mb-4">Welcome</legend>
  Pandalike <b>Investing</b> is a blog from a private investor for private investors all around the world. The blog is focused on investing tools and tools around saving money. 

  <br> <br>
  I wish you a pleasant visit here on my blog and with the provided tools. If there are tools that you need or you just want to give feedback, don't hesitate to <br> 
  <br><a href="{{ url_for('contact_blueprint.index')}}" class="btn btn-primary active" role="button" aria-pressed="true"><i class="fas fa-envelope"></i>&nbsp; Contact Me</a> <br><br>
  I am doing my best to get back to you. <br>
  Best Regards,
  <br>
  <br>
  <div class="container">
    <div class="signature">
      Daniel
    </div>  
  </div>

  <div class="container">
    <br>
  <br>
  <legend class="border-bottom mb-4">Summary of all tools</legend>
 
On this page, it is all about understanding your investments and savings. We supply you with tools that make this easy for your. Tools like: <br> <br>


{% include "sum_corr.html" %}
{% include "sum_bal.html" %}
<!-- {% include "sum_impact.html" %} -->
{% include "sum_other.html" %}

</div>



{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}
