<div class="jumbotron">
  <h2 class="display-5">Impact of Costs to your Performance</h2>
  <p class="lead"> If you have to choose between two investment funds that are based on the same benchmarkt, chances are high that they have different costs. This tool wants to give you an idea on the impact of the costs for the performance, in percent per year and absolute. In addition, we give you the opportunity to simulate a scenario where the funds delivers an outperformance to its benchmark. This can give you an idea how much outperformance per year is needed, in order to outperform the benchmark after costs.  </p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="{{ url_for( 'DashExample_blueprint.app3_template') }}" role="button">Launch <i class="fas fa-wrench"></i></a>
</div>