<div class="w-100"></div>
<div class="col">
  <div class="arrow_box_left">
    
    <div class="row">
        <div class="col-sm-auto">
          <h1><i class="fas fa-wrench"></i></h1>
        </div>
        <div class="col">
            <div class="b_black">Active vs Passive:</div> The question about active vs passive investments is present in many discussions about investing. What is true for most instances is, that an active investment fund is often more expensive than their passive counterparts (if both are based on the same! benchmark) but promises outperformance. The question that this tool wants to answer is, how much outperformance (%, pa) does the more expensive investment need, in order to get close to their benchmark index, as well as to the cheaper investment, e.g. an index fund. Note: The performance is computed on a monthly basis.
        </div>
    </div>
  </div>    
</div>