<div class="w-100"></div>
<div class="col">
  <div class="arrow_box_right">
    <div class="row">
      <div class="col text-right">
        <div class="b_black">Other tools are planned:</div> We are planning to release more tools soon. If you want to be informed about the release of new investing tools, make sure to create an account. We will inform you about new features and we will not spam you nor do we plan to share your mail address with third parties.
      </div>
      <div class="col-sm-auto">
          
          <h1><i class="fas fa-wrench"></i></h1>
      </div>
    </div>
  </div>
</div>
</div>