<div class="jumbotron">
  <h2 class="display-5">Rebalancing Tool</h2>
  <p class="lead"> This tool wants to help you to rebalance your portfolio. If you have a desired distribution among a set of assets, it comes the time where this distribution is not longer the same. Some assets have increased and some decreased in value. If you now want to reblance your assets, this tool should make it easy for you.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="{{ url_for( 'DashExample_blueprint.app1_template') }}" role="button">Launch <i class="fas fa-wrench"></i></a>
</div>