{% macro render_field(field) %}
<div class="form-group">
  {{ field.label(class="form-label-txt") }}
  {{ field(**kwargs)|safe }}
  {% if field.errors %}
  <ul class=errors>
    {% for error in field.errors %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>

    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endmacro %}

{% macro render_field_no_label(field) %}
<div class="form-group">
  {{ field(**kwargs)|safe }}
  {% if field.errors %}
  <ul class=errors>
    {% for error in field.errors %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>

    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endmacro %}


{% macro render_checkbox(field) %}
<div class="form-group">
  {{ field(**kwargs)|safe }}
  &nbsp;{{ field.label(class="form-label-txt") }}
</div>
{% endmacro %}


{% macro render_recaptcha(field) %}
<div class="form-group">
  {{ field }}
  {% if field.errors %}
  <ul class=errors>
    {% for error in field.errors %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endfor %}
  </ul>
  {% endif %}

</div>
{% endmacro %}

{% macro render_picture(field) %}
<dt>{{ field.label(class="form-label-txt") }}
<dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
  <ul class=errors>
    {% for error in field.errors %}
    <span class="text-danger">
      {{ error }}
    </span>
    <br>
    {% endfor %}
  </ul>
  {% endif %}
</dd>
{% endmacro %}