<div class="sidebar-header">

  <div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-md mx-auto">       
          <img src="/static/images/img.png" class="img-fluid" alt="Responsive image">       
        </div>
        <div class="col-6 mx-auto">     
          <h5>Pandalike  <br/> <b> Investing</b></h5>     
      </div>
    </div>
</div>

</div>

<ul class="list-group">
  
  <li><a href="{{ url_for( 'home_blueprint.index') }}"><i class="fa fa-home"></i> Home <span></span></a></li>

  <!-- <li><a href="#"><i class="fa fa-th-list"></i> Portfolio <span></span></a></li> -->

  <li>
      <a href="#toolsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-wrench"></i> Tools </a>
      <ul class="collapse list-unstyled" id="toolsSubmenu">
          <li>
              <a href="{{ url_for( 'DashExample_blueprint.app1_template') }}">Rebalancing</a>
          </li>
          <li>
              <a href="{{ url_for( 'DashExample_blueprint.app2_template') }}">Correlation</a>
          </li>
          <li>
              <a href="{{ url_for( 'DashExample_blueprint.app3_template') }}">Active vs Passive</a>
          </li>
      </ul>
  </li>
  
  {% if current_user.is_authenticated %}
  <li>
      <a href="#settingsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-cogs"></i> Settings </a>
      <ul class="collapse list-unstyled" id="settingsSubmenu">
        <li><a href=" {{ url_for_security('change_password') }} ">Change Password</a></li>
        {% if current_user.has_role('admin') %}
        <li><a href="/admin">Admin</a></li>
        {% endif %}
      </ul>
  </li>
  {% endif %}

  <li><a href="{{ url_for( 'contact_blueprint.index') }}"><i class="fa fa-envelope"></i> Contact <span></span></a></li>

  <li><a href="{{ url_for( 'base_blueprint.about') }}"><i class="fa fa-info-circle"></i> About <span></span></a></li>

</ul>